<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="mi-ion-content">
    <ion-button (click)="welcome()">Ir a welcome</ion-button>
    <ion-button (click)="home()">Ir a Home</ion-button>
    <div class="about-container">
      <div class="about-panel">
        <app-aboutinfo
        *ngFor="let pers of (persService.personajes$ | async)"
        [person]="pers"
        ></app-aboutinfo>
      </div>
    </div>
  </div>
</ion-content>