<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" fill="clear" (click)="onCancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Editar personaje
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input label="Nombre" labelPlacement="start" formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Calidad" labelPlacement="start" formControlName="calidad" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Elixir" labelPlacement="start" formControlName="elixir" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Health" labelPlacement="start" formControlName="hp" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Damage" labelPlacement="start" formControlName="damage" type="number"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-button type="submit" [disabled]="!form.valid || !form.dirty" class="ion-padding" expand="full" (click)="onSubmit()">{{('Guardar')}}</ion-button>
</ion-footer>