ion-title{
  font-family: 'ClashRoyaleFont', sans-serif;
}

.fondo {
  --background: url('./../../../assets/img/clash-royale-game-4k-wallpaper-uhdpaper.com-42@0@h.jpg') no-repeat center center;
  background-size: cover;
}

.welcome-message {
  text-align: center;
  font-family: 'ClashRoyaleFont', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 50vh;
}