ion-header {
    position: static;
    display: flex;
}

ion-title{
    font-family: 'ClashRoyaleFont', sans-serif;
}

.pers-panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}