<<<<<<< HEAD
ion-img{
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}
ion-card{
    max-width:15%;
    min-width: 50px;
    display: inline-block;
=======
ion-card {
    background: none;
}

ion-img{
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    margin-bottom: 20px;
    display: flex;
>>>>>>> a416da3cb5f938afe25b96e8d4d2a8b0450a4280
}