ion-header {
    position: static;
    display: flex;
}

ion-title{
    font-family: 'ClashRoyaleFont', sans-serif;
}

.fondo {
    --background: url('./../../../assets/img/69cad4b7a425f8814c2753078c3fb3dd.png') repeat center center;
    background-size: cover;
  }

.arenas-panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}